# Importing necessaty libraries. Importing pandas for cleaning the output

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

# Creating the list of urls

In [63]:
all_urls=[]
for i in range (2,4):  #<=== the range will set the no of web pages to crawl.>
    u = "https://psnprofiles.com/leaderboard/all?page="
    i=str(i)
    #print(type(i))
    u=u+i
    all_urls.append(u)

u1= ['https://psnprofiles.com/leaderboard/all'] #<=== adding the first webpage to the list of others.>
u1.extend(all_urls)
urls=u1
#print(urls)

['https://psnprofiles.com/leaderboard/all', 'https://psnprofiles.com/leaderboard/all?page=2', 'https://psnprofiles.com/leaderboard/all?page=3']

# The scrapper body

In [64]:
      
result=[]
for url in urls:
    
    page= requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    leader_board=soup.find(id="leaderboard")
    players = leader_board.find_all(class_="title premium")
    #print(players)    
    
    player_name = [player.getText()for player in players]
    result.extend(player_name)
    
#print(result)

['\n\t\t\tHakoom\n\t\t', '\n\t\t\tferryjan\n\t\t', '\n\t\t\ttusman\n\t\t', '\n\t\t\tUnknown_v2_0\n\t\t', '\n\t\t\tikemenzi\n\t\t', '\n\t\t\tDiddi89\n\t\t', '\n\t\t\tViensDanser\n\t\t', '\n\t\t\tMarCCeoN\n\t\t', '\n\t\t\tdav1d_123\n\t\t', '\n\t\t\tSmashero\n\t\t', '\n\t\t\tGEORaGEous\n\t\t', '\n\t\t\tskroq\n\t\t', '\n\t\t\tAlessandro54\n\t\t', '\n\t\t\txLukk\n\t\t', '\n\t\t\tBiel_Eric\n\t\t', '\n\t\t\tmaormaor13\n\t\t', '\n\t\t\tjigsaw84000\n\t\t', '\n\t\t\tBizzy_Montana_\n\t\t', '\n\t\t\tchris_play1\n\t\t', '\n\t\t\tblackangel887462\n\t\t', '\n\t\t\temet81\n\t\t', '\n\t\t\tginko765\n\t\t', '\n\t\t\tSUPER_STEFAN_83\n\t\t', '\n\t\t\tThe-Ricksterr\n\t\t', '\n\t\t\tHUTCHY007\n\t\t', '\n\t\t\tMelston2010\n\t\t', '\n\t\t\tsanwang\n\t\t', '\n\t\t\tLucasDiasC\n\t\t', '\n\t\t\tmuhoo_doujin\n\t\t', '\n\t\t\tmaxijodi\n\t\t', '\n\t\t\tkusanobukenji\n\t\t', '\n\t\t\tBarriebar17\n\t\t', '\n\t\t\tBrozYn88\n\t\t', '\n\t\t\tPFLATSCH\n\t\t', '\n\t\t\tSchivorer\n\t\t', '\n\t\t\tlasthit565\n\t\t', '\n\t\t\tjohnboy75129\n\t\t', '\n\t\t\tGraefinTascha\n\t\t', '\n\t\t\tclouzing\n\t\t', '\n\t\t\tdjviktors\n\t\t', '\n\t\t\tLightsp33d1987\n\t\t', '\n\t\t\tAffectatiousDonk\n\t\t', '\n\t\t\tBobasun\n\t\t', '\n\t\t\tTuffinz_\n\t\t', '\n\t\t\tauber002b\n\t\t', '\n\t\t\tmidgetstrawdog\n\t\t', '\n\t\t\tdernop\n\t\t', '\n\t\t\tJHmm1101\n\t\t', '\n\t\t\tKimrai\n\t\t', '\n\t\t\tGAKI\n\t\t', '\n\t\t\tAngus1343\n\t\t', '\n\t\t\tTrippie1995\n\t\t', '\n\t\t\tjayboo1991\n\t\t', '\n\t\t\tNiTR0--X_\n\t\t', '\n\t\t\tartjai0966\n\t\t', '\n\t\t\tCactuarism\n\t\t', '\n\t\t\tyoszek\n\t\t', '\n\t\t\tTJMEAT\n\t\t', '\n\t\t\tTonat1601\n\t\t', '\n\t\t\tDino_Roar\n\t\t', '\n\t\t\tDJ-AN2011\n\t\t', '\n\t\t\tBallin404\n\t\t', '\n\t\t\tWarlord99956\n\t\t', '\n\t\t\tTOV0917\n\t\t', '\n\t\t\tbanlieue8952\n\t\t', '\n\t\t\tTheScorpi0411\n\t\t', '\n\t\t\twarhammer82_RUS\n\t\t', '\n\t\t\tMatrikPS\n\t\t', '\n\t\t\tDerDeutscher\n\t\t', '\n\t\t\tbreathofwater\n\t\t', '\n\t\t\tFanatico1981\n\t\t', '\n\t\t\tPMeat\n\t\t', '\n\t\t\tRageInYourFace34\n\t\t', '\n\t\t\tKnightmare_1985\n\t\t', '\n\t\t\tIco2807\n\t\t', '\n\t\t\tFfredericC\n\t\t', '\n\t\t\tHalon_50\n\t\t', '\n\t\t\tForeverNamiChris\n\t\t', '\n\t\t\tyoda6380\n\t\t', '\n\t\t\tthekhs\n\t\t', '\n\t\t\topiate-77\n\t\t', '\n\t\t\tmayuki115\n\t\t', '\n\t\t\tdiskdocx\n\t\t', '\n\t\t\tGutterDragon\n\t\t']

# Storing the resutl to a dtaframe for further teatment. Here panda in needed.

In [65]:
df1= pd.DataFrame({'Player_Name':result})

df1.head()

                  Player_Name
0        \n\t\t\tHakoom\n\t\t
1      \n\t\t\tferryjan\n\t\t
2        \n\t\t\ttusman\n\t\t
3  \n\t\t\tUnknown_v2_0\n\t\t
4      \n\t\t\tikemenzi\n\t\t

# Cleaing the out put & put the cleared output in a seperate column

In [66]:
df1['Player']=df1['Player_Name'].str[4:-3]
print(df1)

                   Player_Name        Player
0         \n\t\t\tHakoom\n\t\t        Hakoom
1       \n\t\t\tferryjan\n\t\t      ferryjan
2         \n\t\t\ttusman\n\t\t        tusman
3   \n\t\t\tUnknown_v2_0\n\t\t  Unknown_v2_0
4       \n\t\t\tikemenzi\n\t\t      ikemenzi
..                         ...           ...
79        \n\t\t\tthekhs\n\t\t        thekhs
80     \n\t\t\topiate-77\n\t\t     opiate-77
81     \n\t\t\tmayuki115\n\t\t     mayuki115
82      \n\t\t\tdiskdocx\n\t\t      diskdocx
83  \n\t\t\tGutterDragon\n\t\t  GutterDragon

[84 rows x 2 columns]

# Dropping the unnecessary columns.Once it dune, cant be undone.

In [71]:
df1.drop(columns=["Player_Name"])

          Player
0         Hakoom
1       ferryjan
2         tusman
3   Unknown_v2_0
4       ikemenzi
..           ...
79        thekhs
80     opiate-77
81     mayuki115
82      diskdocx
83  GutterDragon

[84 rows x 1 columns]

# exporitng the uptput to CSV file

In [77]:
df1.to_csv('scrapper_psnprofiles.csv')